body {
    padding: 0;
    margin: 0;
    background-color: #393E46;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    justify-content: normal;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #222831 !important;
    box-shadow: rgb(0 0 0 / 64%) 0px 6px 9px 3px;
}

.n_logo {
    display: flex;
    align-items: center;
    width: 17%;
    height: 4.9rem;
}

.logo {
    margin-left: 25%;
    width: 51px;
}

.tglp {
    margin-right: 2.3vw;
    margin-top: 20px;
    top: 0;
    right: 0;
    position: absolute;
    user-select: none;
}

.tglp:focus {
    outline: none;
}

.nav_titlep {
    display: flex;
    width: 66%;
    align-items: center;
    justify-content: center;
    color: white;
}

.nav_title {
    margin: 0;
    font-size: 2.5vw;
    font-family: Fredoka One;
}

.logout {
    border: 2px solid;
    margin-left: 11vw;
    margin-top: 9px !important;
    margin-bottom: 9px !important;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.711) !important;
    border-color: rgba(255, 255, 255, 0.578) !important;
    user-select: none;
}

.logout:focus {
    box-shadow: none;
}

.logout:hover {
    background-color: rgb(54, 65, 81);
    color: rgb(255, 255, 255) !important;
    border-color: rgb(255, 255, 255) !important;
}

.ftp {
    width: 100%;
}

.ft {
    font-size: 20px;
    letter-spacing: 4px;
    display: flex;
    height: 9vh;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE !important;
}

.divp {
    width: 95%;
    margin: auto;
    margin-top: 6vh;
    margin-bottom: 6vh;
    border: 8px solid #222831;
    border-radius: 10px;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.divp::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.card {
    max-height: 8rem !important;
    background-color: #e4f4ff;
}

.card-title {
    color: #222831;
}

.card-content {
    display: flex;
    justify-content: space-between;
    height: 7vh;
    overflow-y: scroll;
    /* font-size: 14px; */
    column-gap: 20px;
}

.card-btn {
    border-radius: 50px;
    /* font-size: 11px; */
    height: fit-content !important;
    color: white !important;
    background-color: #222831;
    border: none;
}

.card-btn:hover {
    background-color: #495466;
}

.card-btn:focus {
    outline: none;
    box-shadow: none;
    background-color: #495466;
}

.card-btn:active {
    box-shadow: none !important;
    background-color: #495466;
}

.card-content::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.icn {
    cursor: pointer;
    font-size: 2rem;
}

.icn:hover {
    color: #32306a;
}    

.title {
    margin: 0;
    padding: 1.4rem;
    font-size: 20px;
}

.fa-trash {
    margin-top: 0.3rem;
}

.fa-trash:hover {
    color: rgba(255, 0, 0, 0.63);
}

@media only screen and (max-width: 992px) {
    .nav_titlep {
        display: none;
    }

    .logout {
        margin-left: 9px;
    }

    .icn {
        font-size: 1.6rem;
    }

    .title {
        font-size: 15px;
    }
}